#qtcOverlay {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.qlik-trellis-error {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.qlik-trellis-flex-grid {
    display: flex ;
    height: 100%;
  }
  .qlik-trellis-cell {
    flex: 1;
    margin: 2px;
    height: 100% !important;
  }

  .qv-object-qlik-trellis .qv-inner-object {
    overflow:visible;
  }

  .qlik-trellis-slide {
    height: 90%;
    width: 85%;
    margin: auto;
  }
  
  .qlik-trellis-slide-container {
    width: 100% !important;
    height: 100% !important;
  }

  /* Next & previous buttons */
.qlik-trellis-prev, .qlik-trellis-next {
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #C2C2C2;
    z-index: 1200;
}

.qlik-trellis-prev:hover, .qlik-trellis-next:hover  { 
  background-color:#D9D9D9;
}

/* Position the "next button" to the right */
.qlik-trellis-next {
  right: 0;
}

.qlik-trellis-prev {
  left: 0;
}

.qlik-trellis-dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.qlik-trellis-active {
  background-color: #717171;
}