<div id="qtOverlay">
    <span ng-show="showMasterVizSelect && !showError" class="lui-icon lui-icon--object" aria-hidden="true"></span>
    <span ng-show="showMasterVizSelect && !showError" style="white-space: pre-line">Add Master Visualization</span>
    <select ng-show="showMasterVizSelect && !showError" class="lui-select  lui-select--large" ng-change="onMasterVizSelected(masterViz)" ng-model="masterViz">
        <option  ng-repeat="masterViz in masterVizs" value="{{masterViz.qInfo.qId}}">{{masterViz.qMeta.title}}</option>
    </select>
</div>
<div ng-show="showError" class="qwik-trellis-error">
    {{errorMsg}}
</div>
<div ng-repeat="r in [].constructor(rowNum) track by $index" id="qwik-trellis-grid-{{layoutId}}" ng-style="rowHeight"
    ng-show="showCharts" class="qwik-trellis-flex-grid">
    <div ng-repeat="c in [].constructor(colNum) track by $index" class="qwik-trellis-cell"></div>
</div>